body {
  font-family: Arial, Helvetica, sans-serif;
}

a:link {
  color: #0917c6;
}

a:visited {
  color: #0917c6;
}

a:hover {
  color: blue;
  font-weight: bold;
}

a:active {
  color: blue;
  font-weight: bold;
}

header {
  background-color: #777;
  padding: 10px;
  text-align: center;
  font-size: 20px;
  color: white;
}

section {
  display: -webkit-flex;
  display: flex;
}

nav {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background: #ccc;
  padding: 10px;
}

article {
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
  background-color: #f1f1f1;
  padding: 10px;
}

footer {
  background-color: #777;
  padding: 10px;
  text-align: center;
  color: white;
}